@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero-btn{
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all 
        hover:border-purple-500/60 hover:text-purple-500/60
    }
}



body {
    --black: #111111;
    --white: #fdfdfd;
    --green: #22cc88;
    --blue: #0055ff;
    --purple: #8855ff;
    --red: #ff0055;
    --orange: #ee4444;
    --yellow: #ffcc00;
    --mustard: #ffaa00;
  
    --background: var(--white);
    --accent: var(--black);
    overflow:hidden;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }

.htmlScreen iframe
{
    overflow: hidden;
    height: 415px;
    width: 610px;
    border-radius: 10px;
    border: none;
    background: #000000;
    transform: scale(0.5); 
}

.htmlScreen{
    height: 220px;
    width: 30px;
}
